<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{{ static_url("index.css") }}"> 
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAro7nL7uI5ShTXZ4MKJNruNMt8I67EXv4&sensor=true">
</script>
<script src="http://api.mygeoposition.com/api/geopicker/api.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
</head>
<body>
<div id="layout">
    <div id="top">
        <div id="inputBox">
            <table>
            <tbody>
                <tr>
                    <td>
                        <img id="logoImg" src="{{ static_url("ic_launcher.png") }}">
                    </td>
                    <td>
                        <input id="searchText" value="MULTILMED">
                    </td>
                    <td>
                        <p id='date'>DATE: <input type="text" id="datepicker"></p>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div id="left">
        <div id="listView">
            <div id="resultContainer"  style='overflow: auto;'>
                <table id="template" style="display:none">
                    <tr id="tempRow" class="location">
                        <td class="buildid"></td>
                        <td class="fullname"></td>
                        <td class="abbr"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="center">
        <div id="map-canvas">
        </div>
    </div>
</div>
</body>
</html>

